<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Stock Prices Server</title>
<link rel="stylesheet" type="text/css" href="/public/js/lib/bootstrap/dist/css/bootstrap.min.css" />
<script type="text/javascript" src="/public/js/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/public/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
