<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <script>
    // This const websocketUrl is needed for the websocket.js to work.
    const websocketUrl = "<%= realtimeReq.toString() %>";
    console.log(`webSocket URL = ${websocketUrl}`);
  </script>
  <script type="text/javascript" src="/public/js/websocket.js"></script>
</head>

<body>
  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>National Stock Prices<br />
        Real Time
    </h1>
    <p>This is a sample Stock Prices Serving application based on Node.js deployed to Heroku.</p>
    <!-- <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a> -->
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/DhavalDalal/stock-prices"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-danger text-left" role="alert">
    Not for Production Use.  Only for development that need external server like the -
	<ul>
		<li>	<a href="https://gist.github.com/DhavalDalal/a44db41fa60f21e718426d28cedaaa4f" class="alert-link">Portfolio Java</a> workshop.
</li>
		<li>	<a href="https://gist.github.com/DhavalDalal/80d8f58123c1bfc6d6ce07be02f4e9ff" class="alert-link">Portfolio C#</a> workshop.
</li>
	</ul>
  </div>
  <hr>
  <div class="row">
    <div>
        <button onclick="subscribe();">Start Updates</button>
        <button onclick="unsubscribe();">Stop Updates</button>
    </div>
    <div class="quotes-ui">
        <!-- header -->
        <div>
          <div class="ui-widget-header header">Symbol</div>
          <div class="ui-widget-header header">Name</div>
          <div class="ui-widget-header header">Price</div>
        </div>
  </div> <!-- row -->
</div>
</body>
</html>
