<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <script>
    // This const websocketUrl is needed for the websocket.js to work.
    const websocketUrl = "<%= realtimeReq.toString() %>";
    console.info(`webSocket URL = ${websocketUrl}`);
  </script>
  <script type="text/javascript" src="/public/js/websocket-client.js"></script>
  <script type="text/javascript" src="/public/js/lib/knockoutjs/dist/knockout.js"></script>
  <script type="text/javascript" src="/public/js/QuoteViewModel.js"></script>
  <script type="text/javascript" src="/public/js/StockQuotesViewModel.js"></script>
  <script type="text/javascript">

  </script>
</head>

<body>
  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Real Time National Stock Prices</h1>
    <p>This is a sample Stock Prices Serving application based on Node.js deployed to Heroku.</p>
    <!-- <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a> -->
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/DhavalDalal/stock-prices"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-danger text-left" role="alert">
    Not for Production Use.  Only for development that need external server like the -
	  <ul>
		  <li><a href="https://gist.github.com/DhavalDalal/a44db41fa60f21e718426d28cedaaa4f" class="alert-link">Portfolio Java</a> workshop.</li>
 		  <li><a href="https://gist.github.com/DhavalDalal/80d8f58123c1bfc6d6ce07be02f4e9ff" class="alert-link">Portfolio C#</a> workshop.</li>
 	  </ul>
  </div>
  <hr>
  <div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped table-condensed">
        <thead>
          <tr class="info">
            <th>Name</th>
            <th>Symbol</th>
            <th>Low</th>
            <th>High</th>
            <th>Price</th>
            <th>Change</th>
          </tr>
        </thead>
        <!-- quotes rows holder -->
        <tbody id="sortable" data-bind="template: { name: 'quotesTemplate', foreach: quotes }">
        </tbody>
      </table>
      <script type="text/html" id="quotesTemplate">
        <tr>
          <td data-bind="text: name"></td>
          <td data-bind="text: ticker"></td>
          <td data-bind="text: low"></td>
          <td data-bind="text: high"></td>
          <td data-bind="text: price"></td>
          <td data-bind="attr : {'class': changeColor }">
            <div>
              <div style="float: left" data-bind="text: change"></div>
              <div style="float: right" data-bind="attr: {'class': changeDirection }"></div>
            </div>
          </td>
        </tr>
      </script>
    </div>
    <div class="row text-center">
      <button onclick="toggleSubscription();" data-bind="attr: { class: toggleButton }">
        <span data-bind="attr: { class: toggleButtonGlyphicon }, text: toggleButtonText"></span>
      </button>
    </div>
    <script type="text/javascript">
      const stockQuotesViewModel = new StockQuotesViewModel();
      ko.applyBindings(stockQuotesViewModel);
    </script>
  </div>
</div>
</body>
</html>
